version: "3"

services:

  certbot-renew:
    container_name: certbot-renew
    image: {{ certbot_renew_runner.image }}
    pull_policy: always
    restart: always
    volumes:
      - {{ certbot_renew_cert_path }}:/etc/letsencrypt
    command:
      - renew
